e-advogado-AppEngine/src/META-INF/intercomunicacao-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.cnj.jus.br/intercomunicacao-2.1" targetNamespace="http://www.cnj.jus.br/intercomunicacao-2.1"
	version="1.0" elementFormDefault="qualified">
	<xs:element name="intercomunicacao" type="tns:tipoIntercomunicacao" />
	<xs:simpleType name="tipoDataHora">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="tipoAvisoComunicacaoPendente">
		<xs:sequence>
			<xs:element name="destinatario" type="tns:tipoParte" />
			<xs:element name="processo" type="tns:tipoCabecalhoProcesso" />
			<xs:element name="dataDisponibilizacao" type="tns:tipoDataHora" />
		</xs:sequence>
		<xs:attribute name="idAviso" type="tns:identificadorComunicacao"
			use="required" />
		<xs:attribute name="tipoComunicacao" type="tns:tipoComunicacao" />
	</xs:complexType>
	<xs:complexType name="tipoParte">
		<xs:sequence>
			<xs:element minOccurs="0" name="pessoa" type="tns:tipoPessoa" />
			<xs:element minOccurs="0" name="interessePublico" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="advogado"
				nillable="true" type="tns:tipoRepresentanteProcessual" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="pessoaProcessualRelacionada" nillable="true" type="tns:tipoParte" />
		</xs:sequence>
		<xs:attribute name="assistenciaJudiciaria" type="xs:boolean" />
		<xs:attribute name="intimacaoPendente" type="xs:int" />
		<xs:attribute name="relacionamentoProcessual"
			type="tns:modalidadeRelacionamentoProcessual" />
	</xs:complexType>
	<xs:complexType name="tipoPessoa">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="outroNome"
				nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="documento"
				nillable="true" type="tns:tipoDocumentoIdentificacao" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="endereco"
				nillable="true" type="tns:tipoEndereco" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="pessoaRelacionada" nillable="true" type="tns:tipoRelacionamentoPessoal" />
			<xs:element minOccurs="0" name="pessoaVinculada" type="tns:tipoPessoa" />
		</xs:sequence>
		<xs:attribute name="nome" type="xs:string" use="required" />
		<xs:attribute name="sexo" type="tns:modalidadeGeneroPessoa"
			use="required" />
		<xs:attribute name="nomeGenitor" type="xs:string" />
		<xs:attribute name="nomeGenitora" type="xs:string" />
		<xs:attribute name="dataNascimento" type="tns:tipoData" />
		<xs:attribute name="dataObito" type="tns:tipoData" />
		<xs:attribute name="numeroDocumentoPrincipal" type="tns:tipoCadastroIdentificador" />
		<xs:attribute name="tipoPessoa" type="tns:tipoQualificacaoPessoa"
			use="required" />
		<xs:attribute name="cidadeNatural" type="xs:string" />
		<xs:attribute name="estadoNatural" type="xs:string" />
		<xs:attribute name="nacionalidade" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="tipoDocumentoIdentificacao">
		<xs:sequence />
		<xs:attribute name="codigoDocumento" type="xs:string"
			use="required" />
		<xs:attribute name="emissorDocumento" type="xs:string"
			use="required" />
		<xs:attribute name="tipoDocumento" type="tns:modalidadeDocumentoIdentificador"
			use="required" />
		<xs:attribute name="nome" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="tipoEndereco">
		<xs:sequence>
			<xs:element minOccurs="0" name="logradouro" type="xs:string" />
			<xs:element minOccurs="0" name="numero" type="xs:string" />
			<xs:element minOccurs="0" name="complemento" type="xs:string" />
			<xs:element minOccurs="0" name="bairro" type="xs:string" />
			<xs:element minOccurs="0" name="cidade" type="xs:string" />
			<xs:element minOccurs="0" name="estado" type="xs:string" />
			<xs:element minOccurs="0" name="pais" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="cep" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="tipoRelacionamentoPessoal">
		<xs:sequence>
			<xs:element name="pessoa" type="tns:tipoPessoa" />
		</xs:sequence>
		<xs:attribute name="modalidadeRelacionamento" type="tns:modalidadesRelacionamentoPessoal" />
	</xs:complexType>
	<xs:simpleType name="tipoData">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="tipoCadastroIdentificador">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="tipoRepresentanteProcessual">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="endereco"
				nillable="true" type="tns:tipoEndereco" />
		</xs:sequence>
		<xs:attribute name="nome" type="xs:string" use="required" />
		<xs:attribute name="inscricao" type="tns:tipoCadastroOAB" />
		<xs:attribute name="numeroDocumentoPrincipal" type="xs:string" />
		<xs:attribute name="intimacao" type="xs:boolean" use="required" />
		<xs:attribute name="tipoRepresentante"
			type="tns:modalidadeRepresentanteProcessual" use="required" />
	</xs:complexType>
	<xs:simpleType name="tipoCadastroOAB">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="tipoCabecalhoProcesso">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="polo"
				type="tns:tipoPoloProcessual" />
			<xs:element maxOccurs="unbounded" name="assunto"
				type="tns:tipoAssuntoProcessual" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="magistradoAtuante" nillable="true" type="tns:tipoCadastroIdentificador" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="processoVinculado" nillable="true" type="tns:tipoVinculacaoProcessual" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="prioridade"
				nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="outroParametro" nillable="true" type="tns:tipoParametro" />
			<xs:element minOccurs="0" name="valorCausa" type="xs:double" />
		</xs:sequence>
		<xs:attribute name="numero" type="tns:tipoNumeroUnico"
			use="required" />
		<xs:attribute name="competencia" type="xs:int" />
		<xs:attribute name="classeProcessual" type="xs:int" use="required" />
		<xs:attribute name="codigoLocalidade" type="xs:string"
			use="required" />
		<xs:attribute name="codigoOrgaoJulgador" type="xs:string" />
		<xs:attribute name="nivelSigilo" type="xs:int" use="required" />
		<xs:attribute name="intervencaoMP" type="xs:boolean" />
		<xs:attribute name="tamanhoProcesso" type="xs:int" />
	</xs:complexType>
	<xs:complexType name="tipoPoloProcessual">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="parte" type="tns:tipoParte" />
		</xs:sequence>
		<xs:attribute name="polo" type="tns:modalidadePoloProcessual" />
	</xs:complexType>
	<xs:complexType name="tipoAssuntoProcessual">
		<xs:sequence>
			<xs:element minOccurs="0" name="codigoNacional" type="xs:int" />
			<xs:element minOccurs="0" name="assuntoLocal" type="tns:tipoAssuntoLocal" />
		</xs:sequence>
		<xs:attribute name="principal" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="tipoAssuntoLocal">
		<xs:sequence>
			<xs:element minOccurs="0" name="assuntoLocalPai" type="tns:tipoAssuntoLocal" />
		</xs:sequence>
		<xs:attribute name="codigoAssunto" type="xs:int" use="required" />
		<xs:attribute name="codigoPaiNacional" type="xs:int" use="required" />
		<xs:attribute name="descricao" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="tipoVinculacaoProcessual">
		<xs:sequence />
		<xs:attribute name="numeroProcesso" type="tns:tipoNumeroUnico"
			use="required" />
		<xs:attribute name="vinculo" type="tns:modalidadeVinculacaoProcesso"
			use="required" />
	</xs:complexType>
	<xs:simpleType name="tipoNumeroUnico">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="tipoParametro">
		<xs:sequence />
		<xs:attribute name="nome" type="xs:string" />
		<xs:attribute name="valor" type="xs:string" />
		<xs:attribute name="value" type="xs:string" />
	</xs:complexType>
	<xs:simpleType name="identificadorComunicacao">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="tipoComunicacao">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="tipoComunicacaoProcessual">
		<xs:sequence>
			<xs:element name="destinatario" type="tns:tipoParte" />
			<xs:element name="processo" type="xs:string" />
			<xs:element minOccurs="0" name="teor" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="documento"
				nillable="true" type="tns:tipoDocumento" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="parametro"
				nillable="true" type="xs:string" />
			<xs:any namespace="##other" processContents="lax" />
		</xs:sequence>
		<xs:attribute name="id" type="tns:identificadorComunicacao"
			use="required" />
		<xs:attribute name="tipoComunicacao" type="tns:tipoComunicacao" />
		<xs:attribute name="tipoPrazo" type="tns:tipoPrazo" />
		<xs:attribute name="dataReferencia" type="tns:tipoDataHora" />
		<xs:attribute name="prazo" type="xs:int" />
		<xs:attribute name="nivelSigilo" type="xs:int" />
	</xs:complexType>
	<xs:complexType name="tipoDocumento">
		<xs:sequence>
			<xs:element minOccurs="0" name="conteudo" type="xs:hexBinary" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="assinatura"
				nillable="true" type="tns:tipoAssinatura" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="outroParametro" nillable="true" type="tns:tipoParametro" />
			<xs:any namespace="##other" processContents="lax" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="documentoVinculado" nillable="true" type="tns:tipoDocumento" />
		</xs:sequence>
		<xs:attribute name="idDocumento" type="xs:string" />
		<xs:attribute name="idDocumentoVinculado" type="xs:string" />
		<xs:attribute name="tipoDocumento" type="xs:string" use="required" />
		<xs:attribute name="dataHora" type="tns:tipoDataHora" />
		<xs:attribute name="mimetype" type="xs:string" />
		<xs:attribute name="nivelSigilo" type="xs:int" />
		<xs:attribute name="movimento" type="xs:int" />
		<xs:attribute name="hash" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="tipoAssinatura">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="assinatura" type="xs:string" />
				<xs:attribute name="dataAssinatura" type="xs:string" />
				<xs:attribute name="cadeiaCertificado" type="xs:string" />
				<xs:attribute name="algoritmoHash" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="tipoComplemento">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="tipoIntercomunicacao">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="processojudicial" nillable="true" type="tns:tipoProcessoJudicial" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="avisocomunicacao" nillable="true" type="tns:tipoAvisoComunicacaoPendente" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="comunicacaoprocessual" nillable="true"
				type="tns:tipoComunicacaoProcessual" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="documento"
				nillable="true" type="tns:tipoDocumento" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoProcessoJudicial">
		<xs:sequence>
			<xs:element name="dadosBasicos" type="tns:tipoCabecalhoProcesso" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="movimento"
				nillable="true" type="tns:tipoMovimentoProcessual" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="documento"
				nillable="true" type="tns:tipoDocumento" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoMovimentoProcessual">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="complemento"
				nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="movimentoNacional" type="tns:tipoMovimentoNacional" />
			<xs:element minOccurs="0" name="movimentoLocal" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="idDocumentoVinculado" nillable="true" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="dataHora" type="tns:tipoDataHora"
			use="required" />
		<xs:attribute name="nivelSigilo" type="xs:int" />
		<xs:attribute name="identificadorMovimento" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="tipoMovimentoNacional">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="complemento"
				nillable="true" type="tns:tipoComplemento" />
		</xs:sequence>
		<xs:attribute name="codigoNacional" type="xs:int" use="required" />
	</xs:complexType>
	<xs:complexType name="tipoMovimentoLocal">
		<xs:sequence>
			<xs:element minOccurs="0" name="movimentoLocalPai" type="tns:tipoMovimentoLocal" />
		</xs:sequence>
		<xs:attribute name="codigoMovimento" type="xs:int" use="required" />
		<xs:attribute name="codigoPaiNacional" type="xs:int" use="required" />
		<xs:attribute name="descricao" type="xs:string" use="required" />
	</xs:complexType>
	<xs:simpleType name="modalidadeDocumentoIdentificador">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CI" />
			<xs:enumeration value="CNH" />
			<xs:enumeration value="TE" />
			<xs:enumeration value="CN" />
			<xs:enumeration value="CC" />
			<xs:enumeration value="PAS" />
			<xs:enumeration value="CT" />
			<xs:enumeration value="RIC" />
			<xs:enumeration value="CMF" />
			<xs:enumeration value="PIS_PASEP" />
			<xs:enumeration value="CEI" />
			<xs:enumeration value="NIT" />
			<xs:enumeration value="CP" />
			<xs:enumeration value="IF" />
			<xs:enumeration value="OAB" />
			<xs:enumeration value="RJC" />
			<xs:enumeration value="RGE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalidadesRelacionamentoPessoal">
		<xs:restriction base="xs:string">
			<xs:enumeration value="P" />
			<xs:enumeration value="AP" />
			<xs:enumeration value="SP" />
			<xs:enumeration value="T" />
			<xs:enumeration value="C" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalidadeGeneroPessoa">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
			<xs:enumeration value="D" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoQualificacaoPessoa">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fisica" />
			<xs:enumeration value="juridica" />
			<xs:enumeration value="autoridade" />
			<xs:enumeration value="orgaorepresentacao" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalidadeRepresentanteProcessual">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="E" />
			<xs:enumeration value="M" />
			<xs:enumeration value="D" />
			<xs:enumeration value="P" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalidadeRelacionamentoProcessual">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CP" />
			<xs:enumeration value="RP" />
			<xs:enumeration value="TF" />
			<xs:enumeration value="AT" />
			<xs:enumeration value="AS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalidadePoloProcessual">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AT" />
			<xs:enumeration value="PA" />
			<xs:enumeration value="TC" />
			<xs:enumeration value="FL" />
			<xs:enumeration value="TJ" />
			<xs:enumeration value="AD" />
			<xs:enumeration value="VI" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalidadeVinculacaoProcesso">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CX" />
			<xs:enumeration value="CT" />
			<xs:enumeration value="DP" />
			<xs:enumeration value="OR" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoPrazo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HOR" />
			<xs:enumeration value="DIA" />
			<xs:enumeration value="MES" />
			<xs:enumeration value="ANO" />
			<xs:enumeration value="DATA_CERTA" />
			<xs:enumeration value="SEMPRAZO" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>