e-advogado-AppEngine/src/META-INF/tipos-servico-intercomunicacao-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.1"
	xmlns:ns1="http://www.cnj.jus.br/intercomunicacao-2.1"
	targetNamespace="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.1"
	version="1.0" elementFormDefault="qualified">
	<xs:import namespace="http://www.cnj.jus.br/intercomunicacao-2.1" schemaLocation="intercomunicacao-2.1.xsd" />
	<xs:complexType name="tipoConsultarAvisosPendentes">
		<xs:sequence>
			<xs:element form="qualified" minOccurs="0" name="idRepresentado"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="idConsultante"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="senhaConsultante"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="dataReferencia"
				type="ns1:tipoDataHora" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConsultarAvisosPendentesResposta">
		<xs:sequence>
			<xs:element form="qualified" name="sucesso" type="xs:boolean" />
			<xs:element form="qualified" name="mensagem" type="xs:string" />
			<xs:element form="qualified" maxOccurs="unbounded"
				minOccurs="0" name="aviso" nillable="true"
				type="ns1:tipoAvisoComunicacaoPendente" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConsultarTeorComunicacaoResposta">
		<xs:sequence>
			<xs:element form="qualified" name="sucesso" type="xs:boolean" />
			<xs:element form="qualified" name="mensagem" type="xs:string" />
			<xs:element form="qualified" maxOccurs="unbounded"
				minOccurs="0" name="comunicacao" nillable="true"
				type="ns1:tipoComunicacaoProcessual" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConsultarAlteracao">
		<xs:sequence>
			<xs:element form="qualified" name="idConsultante" type="xs:string" />
			<xs:element form="qualified" name="senhaConsultante" type="xs:string" />
			<xs:element form="qualified" name="numeroProcesso" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConsultarProcesso">
		<xs:sequence>
			<xs:element form="qualified" name="idConsultante" type="xs:string" />
			<xs:element form="qualified" name="senhaConsultante" type="xs:string" />
			<xs:element form="qualified" name="numeroProcesso" type="ns1:tipoNumeroUnico" />
			<xs:element form="qualified" minOccurs="0" name="dataReferencia"
				type="ns1:tipoDataHora" />
			<xs:element form="qualified" minOccurs="0" name="movimentos"
				type="xs:boolean" />
			<xs:element form="qualified" minOccurs="0" name="incluirDocumentos"
				type="xs:boolean" />
			<xs:element form="qualified" maxOccurs="unbounded"
				minOccurs="0" name="documento" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConsultarTeorComunicacao">
		<xs:sequence>
			<xs:element form="qualified" minOccurs="0" name="idConsultante"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="senhaConsultante"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="numeroProcesso"
				type="ns1:tipoNumeroUnico" />
			<xs:element form="qualified" minOccurs="0"
				name="identificadorAviso" type="ns1:identificadorComunicacao" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConsultarAlteracaoResposta">
		<xs:sequence>
			<xs:element form="qualified" name="sucesso" type="xs:boolean" />
			<xs:element form="qualified" name="mensagem" type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="hashCabecalho"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="hashMovimentacoes"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="hashDocumentos"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEntregarManifestacaoProcessual">
		<xs:sequence>
			<xs:element form="qualified" minOccurs="0" name="idManifestante"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="senhaManifestante"
				type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="numeroProcesso"
				type="ns1:tipoNumeroUnico" />
			<xs:element form="qualified" minOccurs="0" name="dadosBasicos"
				type="ns1:tipoCabecalhoProcesso" />
			<xs:element form="qualified" maxOccurs="unbounded" name="documento"
				type="ns1:tipoDocumento" />
			<xs:element form="qualified" name="dataEnvio" type="ns1:tipoDataHora" />
			<xs:element form="qualified" maxOccurs="unbounded"
				minOccurs="0" name="parametros" nillable="true" type="ns1:tipoParametro" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEntregarManifestacaoProcessualResposta">
		<xs:sequence>
			<xs:element form="qualified" name="sucesso" type="xs:boolean" />
			<xs:element form="qualified" name="mensagem" type="xs:string" />
			<xs:element form="qualified" name="protocoloRecebimento"
				type="xs:string" />
			<xs:element form="qualified" name="dataOperacao" type="ns1:tipoDataHora" />
			<xs:element form="qualified" minOccurs="0" name="recibo"
				type="xs:base64Binary" />
			<xs:element form="qualified" maxOccurs="unbounded"
				minOccurs="0" name="parametro" nillable="true" type="ns1:tipoParametro" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConsultarProcessoResposta">
		<xs:sequence>
			<xs:element form="qualified" name="sucesso" type="xs:boolean" />
			<xs:element form="qualified" name="mensagem" type="xs:string" />
			<xs:element form="qualified" minOccurs="0" name="processo"
				type="ns1:tipoProcessoJudicial" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>